@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --blue: #3282f7;
    --green: #68d9a4;
    --red: #ed6454;
    --light-grey: #e7e7e7;
    --dark-grey: #c7bebe;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 3rem 100px;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 268px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 6rem;
}

#cardContainer{
    display: contents;
    width: 100%;
    margin: 0;
    padding: 0;
}

.post{
    display: inline-block;
    height: 364px;
    width: 380px;
    border-radius: 5px;
    background-color: #E7E7E7;
    margin-bottom: 50px;
}

.top_post{
    height: 178px;
    width: 380px;
    background: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
}

.pad{
    padding: 20px;
    overflow-y: hidden;
}

.midlle_post{
    display: flex;
}

.post_title{
    display: inline;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

.post_time{
    float: right;
    display: flex;
    align-items: center;
    height: 25px;
}

.post_time svg{
    width: 20px;
    margin-right: 7px;
}

.post_time p{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.ul_post{
    width: 47%;
    font-size: 12px;
}

.bottom_post{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}

.bottom_post ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom_post li{
    display: flex;
    flex-direction: row;
}

.bottom_post h2{
    max-width: 55%;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin: 2px;
}

.bottom_post li{
    max-width: 98%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.description{
    width: 80%;
    height: 120px;
    float: right;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-right: 5px;
    overflow-y: scroll;
}

.not-found p {
    font-size: large;
}

.blue--bg{
    background-color: var(--blue);
}

.green--bg{
    background-color: var(--green);
}

.red--bg{
    background-color: var(--red);
}

.blue--bor{
    border: 1px solid var(--blue);
}

.green--bor{
    border: 1px solid var(--green);
}

.red--bor{
    border: 1px solid var(--red);
}

.big-search{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--light-grey);
    height: 69px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.big-search input{
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    height: 80%;
    width: 100%;
    margin-left: 15px;
}

.big-search svg{
    height: 30px;
    margin-right: 15px;
}

.placeholder{
    font-size: 18px;
    font-weight: 300;
    color: #ffff;
}
  
.placeholder::placeholder{
    font-size: 18px;
    font-weight: 300;
    color: #ffff;
}

.placeholder--dark-grey::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-grey);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.filter {
    display: inline-flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 150px;
    height: 60px;

    padding: 5px 10px;
    margin: 5px 10px 0 0;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}


.filter span::before {
    width: 20%;
    content: url(/img/dropdown-icon-up.png);
}

.filter input {
    width: 80%;
    height: 50%;
    margin: auto 0;
}

.disponible{
    width: 667px;
    height: 397px;
    border-radius: 5px;
}

.disponible input {
    margin: 0;
    height: 2rem;
}

.disponible ul,
.disponible ol,
.disponible li{
    padding-left: .5rem;
}

.disponible ul{
    width: 100%;
    max-height: 90%;
}

.un-list{
    display: flex;
    flex-wrap: wrap;
}

.un-list li {
    display: inline-flex;
    width: 200px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 5px;
    list-style: none;
}

.wrt{
    height: 6rem;
}

.written-resoult {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 3px;
    font-size: 16px;
}

#specificSelected {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

#specificSelected li {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
    list-style: none;
    color: white;
}

#specificSelected li img {
    width: 16px;
    height: 16px;
    margin: 6px 6px 6px 11px;
    
}

.top-bar{
    margin-top: 15px;
    width: 100%;
}

.rotate {
    transform: rotateY(180deg);
}

.d-none {
    display: none;
}