
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


html {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 3rem 100px;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 268px;
}

form{
    margin-top: 17px;
}

form input{
    width: 100%;
    height: 69px;
    background: #E7E7E7;
    border-radius: 5px;
    border: #ffff solid 1px;
}

.search{
    position: absolute;
    width: 32px;
    top: 16.5%;
    right: 10%;
}

.tag{
    display: inline-flex;
    justify-content: space-between;
    background-color: #3282F7;
    padding: 0 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.tag p{
    color: #ffff;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 14px;
}

.close{
    width: 20px;
    filter: invert(97%) sepia(10%) saturate(0%) hue-rotate(90deg) brightness(104%) contrast(104%);
}

#search{
    margin-bottom: 1rem;
}



nav {
  position: absolute;
}

.container_nav {
    display: inline-flex;
    position: relative;
    background-size: 300% 100%;
    border-radius: 5px;
    color: #ffff;
    font-weight: bold;
    border: none;
    text-align: center;
    max-width: 29.6vw;
    max-height: auto;
}

.container_nav svg{
    margin-left: 31px;
    width: 16px;
    filter: invert(97%) sepia(10%) saturate(0%) hue-rotate(90deg) brightness(104%) contrast(104%);
}


.container-button{
    margin-right: 20px;
    padding: 23px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
    border: #ffff solid 1px;
    border-radius: 5px;
    color: #ffff;
}

.container-button_first {
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-button_first input {
    width: 70%;
}

.flex-direction{
    flex-direction: column;
}

.row{
  height: 100%;
}

.row p{
    text-align: left;
    margin: 0%;
    padding-top: 12px;
}

.container-button .row{
    flex-direction: row;
}

.singleSort{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    border: solid 1px #3282F7;
    color: #f1f1f1;
}

.container-button .result{
    text-align: left;
    display: none;
}

.d-none {
    display: none;
}

.listed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
}

.listed button {
    border: 0px solid white;
    
    width: 200px;
    background: rgba(0,0,0,0);
    padding: .25rem;
    font-size: 16px;
    color: white;
}

.listed button:hover{
    border: solid 2px white;
    border-radius: 5px;
}

.container-button .result p{
    margin: 1rem 0 0 0;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 6rem;
}

.post{
    height: 364px;
    width: 380px;
    border-radius: 5px;
    background-color: #E7E7E7;
    margin-bottom: 50px;
}

.top_post{
    height: 178px;
    width: 380px;
    background: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
}

.pad{
    padding: 20px;
    overflow-y: hidden;
}

.midlle_post{
    display: flex;
}

.post_title{
    display: inline;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

.post_time{
    float: right;
    display: flex;
    align-items: center;
    height: 25px;
}

.post_time svg{
    width: 20px;
    margin-right: 7px;
}

.post_time p{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.ul_post{
    width: 47%;
    font-size: 12px;
}

.bottom_post{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}

.bottom_post ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom_post li{
    display: flex;
    flex-direction: row;
}

.bottom_post h2{
    max-width: 55%;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin: 2px;
}

.bottom_post li{
    max-width: 98%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.description{
    width: 80%;
    height: 120px;
    float: right;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-right: 5px;
    overflow-y: scroll;
}

.not-found p {
    font-size: large;
}

:root {
    --blue: #3282f7;
    --green: #68d9a4;
    --red: #ed6454;
    --light-grey: #e7e7e7;
    --dark-grey: #c7bebe;
}

.blue--bg{
    background-color: var(--blue);
}

.green--bg{
    background-color: var(--green);
}

.red--bg{
    background-color: var(--red);
}

.blue--bor{
    border: 1px solid var(--blue);
}

.green--bor{
    border: 1px solid var(--green);
}

.red--bor{
    border: 1px solid var(--red);
}


.big-search{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--light-grey);
    height: 69px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.big-search input{
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    height: 80%;
    width: 100%;
    margin-left: 15px;
    line-height: 21,6px;
}

.big-search svg{
    height: 30px;
    margin-right: 15px;
}

.placeholder{
    font-size: 18px;
    font-weight: 300;
    color: #ffff;
}
  
.placeholder::placeholder{
    font-size: 18px;
    font-weight: 300;
    color: #ffff;
}

.placeholder--dark-grey::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-grey);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.filter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 150px;
    height: 60px;

    padding: 5px 10px;
    margin: 5px 10px 0 0;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}


.filter span::before {
    width: 20%;
    content: url(/img/dropdown-icon-up.png);
}

.filter input {
    width: 80%;
    height: 50%;
    margin: auto 0;
}

.filter--blue {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.filter--green {
    background-color: var(--green);
    border: 1px solid var(--green);
}

.filter--red {
    background-color: var(--red);
    border: 1px solid var(--red);
}

.disponible{
    width: 667px;
    height: 397px;
    border-radius: 5px;
}

.disponible input {
    margin: 0;
    height: 2rem;
}

.disponible ul,
.disponible ol,
.disponible li{
    padding-left: .5rem;
}

.disponible ul{
    width: 100%;
    max-height: 90%;
}

.un-list{
    display: flex;
    flex-wrap: wrap;

}

.un-list li {
    width: 200px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 5px;
    list-style: none;
}


#specificSelected {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

#specificSelected li {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
    list-style: none;
    color: white;
}

#specificSelected li img {
    width: 16px;
    height: 16px;
    margin: 6px 6px 6px 11px;
    
}